/*reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*commons*/
body {
    background-color:#fff ;
    font-family: 'Fredoka', sans-serif;
    
  }
 h1{
     color: #e53170;
     margin-top: 50px;
     margin-bottom: 50px;
     text-align: center;
 }
 /*layout*/
 .container {
    width: 80%;
    margin: 0 auto;
 }
 .flex-container {
    display: flex;
    background-color: white;
    justify-content: space-around;
  }
  
  .flex-item {
    background-color: black;
    width: 200px;
    margin: 10px;
    text-align: center;
    line-height: 100px;
    font-size: 50px;
    justify-content: space-around;
  }