/*reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*commons*/
body {
    background-color:#fff ;
    font-family: 'Fredoka', sans-serif;
    
  }
 h1{
     color: #e53170;
     margin-top: 50px;
     margin-bottom: 50px;
     text-align:center;
     
 }
 .lorem-p{
     margin-bottom: 50px;
     text-align:center;
 }
 /*layout*/
 .container {
    width: 80%;
    margin: 0 auto;
 }
 .flex-container {
    display: flex;
    background-color: white;
    margin-bottom: 50px;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 50px;
  }
  
  .flex-item {
   background-color: #0f0e17;
   width: 33%;
   text-align: center;
   color: white;
   display: flex;
   margin-bottom: 30px;
   align-items: center;

  }
.flex-item>img{
    width: 20%;
}


  .mail{
      color: #69bfdc;
  }
  ul{
      list-style-type: none;
  }